:host ::ng-deep .anim-tooltip{
    transition: opacity .3s linear;
}

.flex-map-container {
    display: flex;
    flex-direction: row;
}

.flex-map-container > div.filters {
    flex: auto;
    width: 25%;
    padding: 5px;
}

.flex-map-container > div.map {
    flex: auto;
    width: 75%;
    padding: 5px;
}