.map-list-container {
    display: flex;
    width: 100%;
    // background-color: red;
}

.map-list-container > div {
    flex:auto;
    // background-color: green;
}


.map-list-container > .map-list-filter {
    max-width: 25%;
}

.map-list-container > .map-list-map {
    width: 45%;
}

.map-list-container > .map-list-list {
    max-width: 30%;
}