<div *ngIf="debug" class="debug">
  {{ _name }} value {{ value }} filters {{ filters | json }}
</div>

<div *ngIf="componentInitialized" [attr.id]="elemId" class="element-container">
  <div class="map-list-container">
    <div class="map-list-filter">
      <modules-base-filters
        [debug]="debug"
        [height]="height"
        [moduleCode]="moduleCode"
        [schemaName]="schemaName"
        (onEvent)="processEvent($event)"
      ></modules-base-filters>
    </div>

    <div class="map-list-map">
      <modules-base-map
        [compress]="false"
        [debug]="debug"
        [filters]="filters"
        [mapId]="mapId"
        [moduleCode]="moduleCode"
        [schemaName]="schemaName"
        [value]="value"
        (onEvent)="processEvent($event)"
      ></modules-base-map>
    </div>

    <div class="map-list-list">
      <div class="action-list">
        <button
          (click)="emitEvent({ action: 'create' })"
          mat-mini-fab
          color="primary"
        >
          <mat-icon
            matTooltip="Ajouter {{ schemaConfig.display.undef_label_new }}"
            >add</mat-icon
          >
        </button>
        <a
          mat-mini-fab
          [href]="exportUrl('passages_faune_test')"
          color="primary"
          *ngIf="moduleConfig.exports"
        >
          <mat-icon matTooltip="Exporter {{ schemaConfig.display.def_labels }}">
            save
          </mat-icon>
        </a>
      <div>

      </div>

      </div>
      <modules-base-table
        [displayFilters]="false"
        [debug]="debug"
        [filters]="filters"
        [moduleCode]="moduleCode"
        [short]="true"
        [pageSize]="13"
        [schemaName]="schemaName"
        [value]="value"
        (onEvent)="processEvent($event)"
      ></modules-base-table>
    </div>
  </div>
</div>
