<ng-container *ngIf="!!formControl && !!data">
  <!-- input -->
  <ng-container
    *ngIf="
      ['date', 'string', 'number', 'textarea', 'uuid', 'integer'].includes(computedLayout.type)
    "
  >
    <mat-form-field
      class="form-field {{computedLayout.class}}"
      [appearance]="context.appearance || 'outline'"
    >
      <mat-label>{{ computedLayout.title || elementKey }}</mat-label>
      <input
        *ngIf="['date', 'string', 'number'].includes(computedLayout.type)"
        matInput
        [placeholder]="computedLayout.placeholder"
        [type]="computedLayout.type"
        [formControl]="formControl"
        [required]="computedLayout.required && !context.skip_required"
        [disabled]="computedLayout.disabled"
        [min]="computedLayout.min"
        [max]="computedLayout.max"
        (change)="onInputChange()"
      />

      <input
        *ngIf="'uuid' == computedLayout.type"
        matInput
        type="text"
        [disabled]="computedLayout.disabled"
        [placeholder]="computedLayout.placeholder"
        [formControl]="formControl"
        [required]="computedLayout.required"
        (change)="onInputChange()"
      />

      <input
        *ngIf="'integer' == computedLayout.type"
        matInput
        type="number"
        step="1"
        [disabled]="computedLayout.disabled"
        [placeholder]="computedLayout.placeholder"
        [formControl]="formControl"
        [required]="computedLayout.required"
        [min]="computedLayout.min"
        [max]="computedLayout.max"
        (change)="onInputChange()"
      />

      <textarea
        *ngIf="['textarea', 'json'].includes(computedLayout.type)"
        matInput
        cdkTextareaAutosize
        [disabled]="computedLayout.disabled"
        [placeholder]="computedLayout.placeholder"
        [cdkAutosizeMinRows]="computedLayout.min_rows"
        [cdkAutosizeMaxRows]="computedLayout.max_rows"
        [formControl]="formControl"
        [required]="computedLayout.required"
        (change)="onInputChange()"
        style="white-space: pre"
      ></textarea>

      <mat-hint>{{ computedLayout.hint }}</mat-hint>

      <!-- erreurs -->

      <!-- required -->
      <mat-error *ngIf="formControl.errors && formControl.errors.required"
        >Ce champs est requis</mat-error
      >

      <!-- min -->
      <mat-error *ngIf="formControl.errors && formControl.errors.min">
        La valeur doit être supérieure ou égale à
        {{ formControl.errors.min.min }}
      </mat-error>

      <!-- max -->
      <mat-error *ngIf="formControl.errors && formControl.errors.max">
        La valeur doit être inférieure ou égale à
        {{ formControl.errors.max.max }}
      </mat-error>

      <!-- integer -->
      <mat-error *ngIf="formControl.errors && formControl.errors.integer">
        La valeur doit être un nombre entier
      </mat-error>

      <mat-icon
        matPrefix
        *ngIf="computedLayout.description"
        [matTooltip]="computedLayout.description"
        class="icon-description"
      >
        help
      </mat-icon>
    </mat-form-field>
  </ng-container>

  <!-- checkbox -->
  <mat-checkbox
    *ngIf="['checkbox', 'boolean'].includes(computedLayout.type)"
    [formControl]="formControl"
    >{{ computedLayout.title || elementKey }}
  </mat-checkbox>

  <!-- list-form -->
  <ng-container *ngIf="computedLayout.type == 'list_form'">
    <modules-list-form
      [layout]="layout"
      [data]="data"
      [parentContext]="context"
    ></modules-list-form>
  </ng-container>

  <!-- dynform-->
  <ng-container *ngIf="computedLayout.type == 'dyn_form' && !!formControl">
    <pnx-dynamic-form
      class="dynamic-form padding-sm"
      [formDef]="formDef"
      [form]="localFormGroup"
    >
    </pnx-dynamic-form>
  </ng-container>
</ng-container>
