<ng-container *ngIf="isInitialized && !!formGroup">
  {{formGroup.valid}}
  <div
    [ngStyle]="computedLayout.style"
    [attr.id]="_id"
    class="layout-section"
    [ngClass]="computedLayout.class"
  >
    <div class="flexiflex">
      <div class="flexiflex-title">
        <h3 *ngIf="computedLayout.title">{{ computedLayout.title }}</h3>
      </div>
      <div class="flexiflex-content">
        <form [formGroup]="formGroup" class="layout-section">
          <modules-layout
            [data]="data"
            [parentContext]="context"
            [direction]="computedLayout.direction"
            [layout]="computedLayout.items"
            (onAction)="processAction($event)"
          ></modules-layout>
        </form>
      </div>
    </div>
  </div>
</ng-container>
