<ng-container *ngIf="!!formControl">
  <mat-form-field
    class="form-field list-form"
    [ngClass]="computedLayout.class"
    [appearance]="context.appearance || 'outline'"
  >
    <mat-label>{{ titleWithCount }}</mat-label>
    <mat-select
      [formControl]="formControl"
      [multiple]="listFormOptions.multiple"
      [placeholder]="listFormOptions.placeholder"
      [required]="listFormOptions.required"
      [compareWith]="compareFn"
      (selectionChange)="inputChange($event)"
    >
      <mat-option>
        <ngx-mat-select-search
          [placeholderLabel]="
            listFormOptions.reload_on_search
              ? 'Saisir pour lancer la recherche'
              : 'Saisir pour filtrer'
          "
          ngDefaultControl
          [ngModel]="search"
          (ngModelChange)="searchChanged($event)"
          [searching]="isLoading"
          [clearSearchInput]="false"
          noEntriesFoundLabel="Pas de données"
          ></ngx-mat-select-search>
      </mat-option>
      <ng-template ngFor let-item [ngForOf]="items">
        <mat-option
          [ngClass]="{ 'mat-option-hidden': item.hidden }"
          [value]="listFormOptions.return_object ? item : item[listFormOptions.value_field_name]"
          [title]="
            (listFormOptions.title_field_name &&
              item[listFormOptions.title_field_name] != item[listFormOptions.label_field_name] &&
              item[listFormOptions.title_field_name]) ||
            ''
          "
        >
          <span [innerHTML]="item[listFormOptions.label_field_name]"></span>
        </mat-option>
      </ng-template>
    </mat-select>
    <mat-icon
      matPrefix
      *ngIf="listFormOptions.description"
      [matTooltip]="listFormOptions.description"
      class="icon-description"
    >
      help
    </mat-icon>

    <div matSuffix>
      <div>
        <button
          [disabled]="formControl.disabled"
          mat-icon-button
          class="erase_button"
          matTooltip="Effacer la selection"
          (click)="clearSelection($event)"
        >
          <mat-icon class="reset-list-form-button">clear</mat-icon>
        </button>
      </div>
    </div>
    <mat-hint>{{ layout.hint }}</mat-hint>
    <mat-error *ngIf="listFormOptions.required">Ce champs est requis</mat-error>
  </mat-form-field>
</ng-container>
