conf_schema_gn_module.toml
egg.info
node_modules

config/modules/*
!config/modules/m_monitoring

backend/gn_modules/migrations/data/m_*

#!migrations/data/*.sql
backend/gn_modules/migrations/versions/*
!backend/gn_modules/migrations/versions/    *_gn_modules.py

!.gitkeep

**/*.egg-info
**/__pycache__