conf_schema_gn_module.toml
egg.info
node_modules

config/modules/externals/*
# !config/modules/contrib/*

backend/gn_modules/migrations/data/m_*

frontend/app/module.config.ts

#!migrations/data/*.sql
backend/gn_modules/migrations/versions/*
!backend/gn_modules/migrations/versions/*_gn_modules.py

!.gitkeep

**/*.egg-info
**/__pycache__

# coverage
.coverage
coverage.xml