<h1>Test</h1>


<div *ngIf='componentInitialized; else loadingBlock'>


  <div class='flex-container'>

    <div>
      <h2>Propriétés</h2>
      <div class='test-base-components'>
        <modules-base-properties
        [groupName]="groupName"
        [objectName]="objectName"
        [value]="value"
        ></modules-base-properties>
      </div>
    </div>

    <div>
      <h2>Formulaire</h2>
      <div class='test-base-components'>
        <modules-base-form
        [groupName]="groupName"
        [objectName]="objectName"
        [value]="value"
        ></modules-base-form>
      </div>
    </div>

  </div>

  <div class='flex-container'>

    <div>
      <h2>Tableau</h2>
      <div class='test-base-components'>
        <modules-base-table
        [groupName]="groupName"
        [objectName]="objectName"
        [value]="value"
        ></modules-base-table>
      </div>
    </div>

  </div>

</div>

<ng-template #loadingBlock>
  <div>
      Chargement en cours...
  </div>
</ng-template>
