.modal-container {
    z-index: 100000;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container > div{
    width: fit-content;
    padding: 10px;
    opacity: 1;
}

.modal-container > div > div {
    background-color: red;
}
