<div
*ngIf="debugData"
class="debug-container"
>
<div class="debug" [ngStyle]="{ 'margin-left': (debugData.depth || 0) * 2 + 'px' }">
  <b>{{ debugData.layoutType }}</b> <i>>{{ debugData.display }}</i>
  <span class="debug-details" [matTooltip]="debugData.data">d</span>
  <span class="debug-details" [matTooltip]="debugData.local_data">ld</span>
  <span class="debug-details" [matTooltip]="debugData.element_data">ed</span>
  <span class="debug-details" [matTooltip]="debugData.layout"
    >l
    <i *ngIf="debugData.itemsLength">
      ({{ debugData.itemsLength }}{{ debugData.direction == 'row' ? '-' : '' }})</i
    ></span
  >
  <span class="debug-details" [matTooltip]="debugData.context">c</span>
</div>
</div>
