<ng-container *ngIf="computedLayout && !computedLayout.hidden && isInitialized">
  <!-- Debug -->
  <modules-layout-debug
    *ngIf="context.debug && !['items'].includes(layoutType)"
    [debugData]="debugData"
  ></modules-layout-debug>
  <!-- code -->
  <ng-container *ngIf="layoutType == 'code'">
    <modules-layout
      *ngIf="layoutFromCode"
      [layout]="layoutFromCode"
      [data]="data"
      [parentContext]="context"
      (onAction)="processAction($event)"
    ></modules-layout>
  </ng-container>

  <!-- assert-->
  <ng-container *ngIf="layoutType == 'assert'">
    <div [ngClass]="{ 'test-layout': true, success: assertionIsTrue, error: !assertionIsTrue }">
      <p>
        <u>{{ computedLayout.title }}</u> : <i>{{ computedLayout.test }}</i>&#160;<b *ngIf="!assertionIsTrue">({{ computedLayout.test_value }})</b>
      </p>
    </div>
  </ng-container>
  <!-- form -->
  <ng-container *ngIf="layoutType == 'form'">
    <modules-generic-form
      [(data)]="data"
      (dataChange)="onDataChange($event)"
      [layout]="layout"
      [parentContext]="context"
      (onAction)="processAction($event)"
    >
    </modules-generic-form>
  </ng-container>

  <!-- items -->
  <ng-container *ngIf="layoutType == 'items'">
    <modules-layout-items
      [ngClass]="computedLayout.class"
      [data]="data"
      [direction]="direction"
      [layout]="layout"
      [parentContext]="context"
      (onAction)="processAction($event)"
    ></modules-layout-items>
  </ng-container>

  <!-- breadcrumb -->
  <ng-container *ngIf="layoutType == 'breadcrumbs'">
    <modules-layout-breadcrumbs
      [ngClass]="computedLayout.class"
      [data]="data"
      [layout]="layout"
      [parentContext]="context"
      (onAction)="processAction($event)"
    ></modules-layout-breadcrumbs>
  </ng-container>

  <!-- section -->
  <ng-container *ngIf="layoutType == 'section'">
    <modules-layout-section
      [ngClass]="computedLayout.class"
      [data]="data"
      [layout]="layout"
      [parentContext]="context"
      (onAction)="processAction($event)"
    ></modules-layout-section>
  </ng-container>

  <!-- cards -->
  <ng-container *ngIf="layoutType == 'card'">
    <modules-layout-card
      [data]="data"
      [layout]="layout"
      [parentContext]="context"
      (onAction)="processAction($event)"
    ></modules-layout-card>
  </ng-container>

  <ng-container *ngIf="layoutType == 'key'">
    <modules-layout-element
      [data]="data"
      [layout]="layout"
      [parentContext]="context"
      (onAction)="processAction($event)"
    ></modules-layout-element>
  </ng-container>

  <modules-layout-array
    *ngIf="computedLayout.type == 'array'"
    [data]="data"
    [layout]="layout"
    [parentContext]="context"
    (onAction)="processAction($event)"
  >
  </modules-layout-array>

  <modules-layout-section
    *ngIf="computedLayout.type == 'dict'"
    [data]="data"
    [layout]="layout"
    [parentContext]="context"
    (onAction)="processAction($event)"
  ></modules-layout-section>

  <!-- buttons -->
  <ng-container *ngIf="layoutType == 'button'">
    <div class="layout-buttons" [ngStyle]="computedLayout.style">
      <button
        *ngIf="!computedLayout.href"
        [matTooltip]="computedLayout.description || ''"
        mat-raised-button
        [color]="computedLayout.color"
        [disabled]="computedLayout.disabled"
        (click)="onButtonClick()"
      >
        <mat-icon *ngIf="computedLayout.icon">{{ computedLayout.icon }}</mat-icon>
        {{ computedLayout.title }}
        <mat-icon *ngIf="actionProcessing"
          ><mat-spinner color="accent" diameter="20"> </mat-spinner
        ></mat-icon>
      </button>

      <a
        *ngIf="computedLayout.href"
        mat-raised-button
        [href]="computedLayout.href"
        color="primary"
        [matTooltip]="computedLayout.description"
      >
        <mat-icon *ngIf="computedLayout.icon">{{ computedLayout.icon }}</mat-icon>
        {{ computedLayout.title }}
      </a>
    </div>
  </ng-container>

  <!-- messages -->
  <ng-container *ngIf="layoutType == 'message'">
    <div>
      <div
        [ngClass]="{
          'layout-message': true,
          error: layout.class == 'error',
          info: layout.class == 'info',
          warning: layout.class == 'warning'
        }"
      >
        <div
          class="layout.html"
          *ngIf="computedLayout.html"
          [innerHTML]="computedLayout.html"
        ></div>
        <pre *ngIf="computedLayout.json">{{ computedLayout.json | json }}</pre>
      </div>
    </div>
  </ng-container>

  <!-- medias-->
  <ng-container *ngIf="layoutType == 'medias'">
    <modules-layout-medias [data]="data" [layout]="layout" [parentContext]="context">
    </modules-layout-medias>
  </ng-container>

  <!-- object -->
  <ng-container *ngIf="layoutType == 'object'">
    <modules-layout-object
      [data]="data"
      [layout]="layout"
      [parentContext]="context"
      (onAction)="processAction($event)"
    ></modules-layout-object>
  </ng-container>

  <!-- map -->
  <ng-container *ngIf="layoutType == 'map'">
    <modules-layout-map
      [data]="data"
      [layout]="layout"
      [parentContext]="context"
    ></modules-layout-map>
  </ng-container>

  <!-- modal -->
  <ng-container *ngIf="layoutType == 'modal'">
    <modules-layout-modal
      [data]="data"
      [layout]="layout"
      [parentContext]="context"
      (onAction)="processAction($event)"
    ></modules-layout-modal>
  </ng-container>
</ng-container>
