<!-- affichage d'une liste d'élément (en complément de layout-section)-->
<!-- items -->
<div *ngIf="computedLayout && computedLayout.length" [ngClass]="{ 'layout-row': direction == 'row', 'layout-items': true }">
  <div *ngIf="parentContext.index != null && context.form_group_id" style="flex: '0'">
    <div class="flex-center">
      <div>
        <button
          type="button"
          *ngIf="context.form_group_id"
          class="array-button"
          mat-mini-fab
          color="clear"
          [matTooltip]="layout.delete_one_title || 'Supprimer l\'élément'"
          (click)="
            this.emitAction({
              type: 'remove-array-element',
              index: parentContext.index
            })
          "
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let item of computedLayout; let index = index">
    <div
      *ngIf="!computedItems[index].hidden"
      attr.id="{{ _id }}.{{ index }}"
      [ngStyle]="{ flex: item.flex || '1' }"
      class="layout-item"
    >
      <modules-layout
        [data]="data"
        [layout]="item"
        [parentContext]="context"
        (onAction)="processAction($event)"
      ></modules-layout>
    </div>
  </ng-container>
</div>
