<!-- Debug -->
<div
  *ngIf="debug && layout && computedLayout"
  class="debug"
  [ngStyle]="{ 'margin-left': debugMarginLeft }"
>
  <b>{{ layoutType }}</b> - <i>{{ computedLayout.type }}</i>
  <span [matTooltip]="prettyDebug.data">data</span>

  <ng-container *ngIf="layoutType == 'items'">
    <i> {{ direction }} ({{ layout.length }})</i>
  </ng-container>
  <span [matTooltip]="prettyDebug.layout">layout</span>
  <span *ngIf="layoutType == 'key'" [matTooltip]="prettyDebug.dataKey"
    >dataK</span
  >
</div>

<ng-container
  [ngSwitch]="layoutType"
  *ngIf="computedLayout && !computedLayout.hidden && isInitialized"
>
  <!-- name-->
  <ng-container *ngSwitchCase="'name'">
    <modules-layout
      *ngIf="layoutFromName"
      [layout]="layoutFromName"
      [data]="data"
      [debug]="debug"
      (onAction)="processAction($event)"
    ></modules-layout>
  </ng-container>

  <!-- form -->
  <ng-container *ngSwitchCase="'form'">
    <modules-generic-form
      [(data)]="data"
      (dataChange)="onDataChange($event)"
      [debug]="debug"
      [depth]="depth"
      [layout]="layout"
      [options]="options"
      (onAction)="processAction($event)"
    >
    </modules-generic-form>
  </ng-container>

  <!-- items -->
  <ng-container *ngSwitchCase="'items'">
    <modules-layout-items
      [ngClass]="computedLayout && computedLayout.class"
      [data]="data"
      [debug]="debug"
      [depth]="depth"
      [direction]="direction"
      [layout]="layout"
      [globalData]="globalData"
      [options]="options"
      (onAction)="processAction($event)"
    ></modules-layout-items>
  </ng-container>

    <!-- breadcrumb -->
    <ng-container *ngSwitchCase="'breadcrumbs'">
      <modules-layout-breadcrumbs
        [ngClass]="computedLayout && computedLayout.class"
        [data]="data"
        [debug]="debug"
        [depth]="depth"
        [globalData]="globalData"
        [layout]="layout"
        [options]="options"
        (onAction)="processAction($event)"
      ></modules-layout-breadcrumbs>
    </ng-container>

  <!-- section -->
  <ng-container *ngSwitchCase="'section'">
    <modules-layout-section
      [ngClass]="computedLayout && computedLayout.class"
      [data]="data"
      [debug]="debug"
      [depth]="depth"
      [globalData]="globalData"
      [layout]="layout"
      [options]="options"
      (onAction)="processAction($event)"
    ></modules-layout-section>
  </ng-container>

  <!-- cards -->
  <ng-container *ngSwitchCase="'card'">
    <modules-layout-card
      [data]="data"
      [debug]="debug"
      [depth]="depth"
      [globalData]="globalData"
      [layout]="layout"
      [options]="options"
      (onAction)="processAction($event)"
    ></modules-layout-card>
  </ng-container>

  <!-- key -->
  <ng-container *ngSwitchCase="'key'">
    <modules-layout-array
      *ngIf="computedLayout.type == 'array'"
      [data]="data"
      [debug]="debug"
      [depth]="depth"
      [globalData]="globalData"
      [layout]="layout"
      [options]="options"
      (onAction)="processAction($event)"
    >
    </modules-layout-array>
    <modules-layout-dict
      *ngIf="computedLayout.type == 'dict'"
      [data]="data"
      [debug]="debug"
      [depth]="depth"
      [globalData]="globalData"
      [layout]="layout"
      [options]="options"
      (onAction)="processAction($event)"
    ></modules-layout-dict>

    <modules-layout-key
      *ngIf="!['dict', 'array'].includes(computedLayout.type)"
      [data]="data"
      [debug]="debug"
      [depth]="depth + 1"
      [globalData]="globalData"
      [layout]="layout"
      [options]="options"
      (onAction)="processAction($event)"
    ></modules-layout-key>
  </ng-container>

  <!-- buttons -->
  <ng-container *ngSwitchCase="'button'">
    <div class="layout-buttons" [ngStyle]="computedLayout.style">
      <button
        *ngIf="!computedLayout.href"
        [matTooltip]="computedLayout.description || ''"
        mat-raised-button
        [color]="computedLayout.color"
        [disabled]="computedLayout.disabled"
        (click)="onButtonClick()"
      >
        <mat-icon *ngIf="computedLayout.icon">{{
          computedLayout.icon
        }}</mat-icon>
        {{ computedLayout.title }}
        <mat-icon *ngIf="actionProcessing"><mat-spinner color="accent" diameter="20">
        </mat-spinner></mat-icon>
      </button>

      <a
        *ngIf="computedLayout.href"
        mat-raised-button
        [href]="computedLayout.href"
        color="primary"
        matTooltip="computedLayout.description"
      >
        <mat-icon *ngIf="computedLayout.icon">{{
          computedLayout.icon
        }}</mat-icon>
        {{ computedLayout.title }}
      </a>
    </div>
  </ng-container>

  <!-- messages -->
  <ng-container *ngSwitchCase="'message'">
    <div>
      <div
        [ngClass]="{
          'layout-message': true,
          error: layout.class == 'error',
          info: layout.class == 'info',
          warning: layout.class == 'warning'
        }"
      >
        <div
          class="layout.html"
          *ngIf="computedLayout.html"
          [innerHTML]="computedLayout.html"
        ></div>
        <pre *ngIf="computedLayout.json">{{ computedLayout.json | json }}</pre>
      </div>
    </div>
  </ng-container>

  <!-- medias-->
  <ng-container *ngSwitchCase="'medias'">
    <modules-layout-medias [data]="data" [layout]="layout" [debug]="debug">
    </modules-layout-medias>
  </ng-container>

  <!-- object -->
  <ng-container *ngSwitchCase="'object'">
    <modules-layout-object
      [data]="computedLayout.key ? data[computedLayout.key] : data"
      [debug]="debug"
      [depth]="depth + 1"
      [globalData]="globalData"
      [layout]="layout"
      [options]="options"
      (onAction)="processAction($event)"
    ></modules-layout-object>
  </ng-container>

  <!-- map -->
  <ng-container *ngSwitchCase="'map'">
    <modules-layout-map
      [data]="data"
      [layout]="layout"
      [debug]="debug"
      [options]="options"
    ></modules-layout-map>
  </ng-container>

  <!-- modal -->
  <ng-container *ngSwitchCase="'modal'">
    <modules-layout-modal
      [data]="data"
      [layout]="layout"
      [debug]="debug"
      [options]="options"
      (onAction)="processAction($event)"
    ></modules-layout-modal>
  </ng-container>
</ng-container>
