<!-- Debug -->


<!-- pour les modals ?? -->
<div>
  <modules-layout
    [layout]="modalsLayout"
    [data]="modalData"
    (onAction)="onModalAction($event)"
    [parentContext]="context"
  ></modules-layout>
</div>

<!-- OBJECT GEOJSON -->
<div *ngIf="layout.items && context.map_id" class="geojsons">
  <modules-layout
    [layout]="layout.items"
    [data]="data"
    (onAction)="onModalAction($event)"
    [parentContext]="context"
  >
  </modules-layout>
</div>

<div class="map-container">
  <div *ngIf="_map?.isProcessing" class="processing">
    <div>
      <mat-progress-bar class="bar" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <div class="map">
    <modules-layout-map-search [mapId]="mapId"></modules-layout-map-search>
    <div [attr.id]="mapId"></div>
  </div>
  <!-- <div class="coordinates" *ngIf="_map?.coordinatesTxt">{{ _map?.coordinatesTxt }}</div> -->

</div>
