<!-- array -->

<!-- array fieldset -->
<ng-container
  *ngIf="computedLayout.display == 'fieldset'; else layoutArraySimple"
>
  <fieldset class="fieldset">
    <legend *ngIf="computedLayout.title">
      {{ computedLayout.title }} ({{ data && data[layout.key]?.length }})
    </legend>
    <div
      [ngClass]="{
        'layout-row': computedLayout.direction == 'row',
        'layout-items': true
      }"
      [attr.id]="_id"
    >
      <div
        attr.id="{{ _id }}.{{ index }}"
        *ngFor="let elem of (data && data[layout.key]) || []; let index = index"
      >
        <modules-layout
          [data]="elem"
          [debug]="debug"
          [depth]="depth + 1"
          [globalData]="globalData"
          [layout]="computedLayout.items"
          [options]="arrayOptions(index)"
          (onAction)="processAction($event)"
        ></modules-layout>
      </div>
      <div>
        <button
          *ngIf="options.form"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          [matTooltip]="computedLayout.add_title || 'Ajouter un élément'"
          (click)="addArrayElement()"
          (onAction)="processAction($event)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </fieldset>
</ng-container>

<!-- array normal -->
<ng-template #layoutArraySimple>
  <ng-container>
    <h3>{{ computedLayout.title }} ({{ data && data[layout.key]?.length }})</h3>
    <div
      [ngClass]="{
        'layout-row': computedLayout.direction == 'row',
        'layout-items': true
      }"
      [attr.id]="_id"
    >
      <div
        attr.id="{{ _id }}.{{ index }}"
        *ngFor="let elem of (data && data[layout.key]) || []; let index = index"
      >
        <modules-layout
          [data]="elem"
          [debug]="debug"
          [depth]="depth + 1"
          [globalData]="globalData"
          [layout]="computedLayout.items"
          [options]="arrayOptions(index)"
          (onAction)="processAction($event)"
        ></modules-layout>
      </div>
      <div style="flex: 0">
        <button
          *ngIf="options.form"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          [matTooltip]="computedLayout.add_title || 'Ajouter un élément'"
          (click)="addArrayElement()"
          (onAction)="processAction($event)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <!-- <div style="flex: 0">
      <button
        *ngIf="options.form"
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        [matTooltip]="computedLayout.add_title || 'Ajouter un élément'"
        (click)="addArrayElement()"
        (onAction)="processAction($event)"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div> -->
  </ng-container>
</ng-template>
