.coordinates {
    position: absolute;
    bottom: 10px;
    z-index: 9999;
    text-align: center;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border-color: gray;
  }