<!-- Debug -->


<!-- pour les modals ?? -->
<div>
  <modules-layout
    [layout]="modalsLayout"
    [data]="modalData"
    (onAction)="onModalAction($event)"
    [parentContext]="context"
  ></modules-layout>
</div>

<!-- OBJECT GEOJSON -->
<div *ngIf="layout.items && context.map_id" class="geojsons">
  <modules-layout
    [layout]="layout.items"
    [data]="data"
    (onAction)="onModalAction($event)"
    [parentContext]="context"
  >
  </modules-layout>
</div>

<div class="map-container" [ngStyle]="{ height: '100%', position: 'relative' }">
  <div *ngIf="_map?.isProcessing" class="processing">
    <div>
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div [ngStyle]="{ height: '100%' }" class="map">
    <div [attr.id]="mapId" [ngStyle]="{ height: '100%' }"></div>
  </div>

  <div class="coordinates" *ngIf="_map?.coordinatesTxt">{{ _map?.coordinatesTxt }}</div>
</div>
