<!-- form -->

<ng-container *ngIf="context.form_group_id">
  <modules-form-element
    [data]="data"
    [layout]="layout"
    [parentContext]="context"
    (onAction)="processAction($event)"
  ></modules-form-element>
</ng-container>

<ng-container *ngIf="!context.form_group_id">
  <div>
    <div class="layout-key">
      <div class="layout-key-title">
        {{ computedLayout.title || elementKey }}
        <mat-icon
          matPrefix
          *ngIf="computedLayout.description"
          [matTooltip]="computedLayout.description"
          class="icon-description"
        >
          help
        </mat-icon>
      </div>
      <div class="layout-key-value">
        <ng-container *ngIf="[null, undefined].includes(elementData); else displayValue"
          >...</ng-container
        >
        <ng-template #displayValue>
          <ng-container *ngIf="computedLayout.labels">
            <ng-container *ngIf="elementData">
              {{ computedLayout.labels[0] }}
            </ng-container>
            <ng-container *ngIf="!elementData">
              {{ computedLayout.labels[1] }}
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!computedLayout.labels">
            {{ elementData }}
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>
