<div class='import'>
  
<h1>Importer des données</h1>

<!-- Etapes -->
<mat-stepper linear #stepper>
  <mat-step
    ngClass="{'step-selected': step==0}"
    [editable]="editableStep"
    [completed]="step > 0"
    label="Transférer / Verifier le fichier de données"
  ></mat-step>
  <mat-step
    ngClass="{'step-selected': step==0}"
    [editable]="editableStep"
    [completed]="step > 1"
    label="Insérer les données"
  ></mat-step>
  <mat-step
    ngClass="{'step-selected': step==0}"
    [editable]="editableStep"
    [completed]="step > 1"
    label="Fin"
  ></mat-step>
</mat-stepper>

<!-- message -->
<!-- <div class="import-msg">
  <ng-container *ngIf="!importData.status">
    <p>Veuillez choisir un fichier et appuyer sur Valider</p>
  </ng-container> -->

  <!-- <ng-container *ngIf="importData.status == 'READY'">
    <h5>Chargement du fichier et verification des données terminé</h5>
    <p>- Nombre de lignes {{ importData.res.nb_raw }}</p>
    <p>- Nombre d'insertion {{ importData.res.nb_insert }}</p>
    <p>
      - Nombre de mise à jour {{ importData.res.nb_update }}
      {{
        importData.options.enable_update
          ? ''
          : '(MAJ Non
    autorisée)'
      }}
    </p>
    <p>Veuillez appuyer sur valider pour insérer les données`,</p>
  </ng-container>

  <ng-container *ngIf="importData.status == 'DONE'">
    <h5>Import terminé</h5>
    <p>- Nombre de lignes {{ importData.res.nb_raw }}</p>
    <p>- Nombre d'insertion {{ importData.res.nb_insert }}</p>
    <p>
      - Nombre de mise à jour {{ importData.res.nb_update }}
      {{
        importData.options.enable_update
          ? ''
          : '(MAJ Non
    autorisée)'
      }}
    </p></ng-container
  >
</div> -->

<!-- Formulaire bouttons -->
<div>
<modules-layout
  [data]="importData"
  [layout]="importLayout"
  [parentContext]="context"
  (onAction)="processAction($event)"
></modules-layout>
</div>
</div>
