<mat-form-field
[class]="options?.htmlClass || ''"
[floatLabel]="options?.floatLabel || (options?.notitle ? 'never' : 'auto')"
[style.width]="'100%'">
<span matPrefix *ngIf="options?.prefix || options?.fieldAddonLeft"
  [innerHTML]="options?.prefix || options?.fieldAddonLeft"></span>
<mat-select *ngIf="boundControl"
  (ngModelChange)="updateValue($event)"
  [ngModel]="model"
  (changed)="updateValue($event)"
  [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
  [attr.name]="controlName"
  [id]="'control' + layoutNode?._id"
  [multiple]="options?.multiple"
  [placeholder]="options?.notitle ? options?.placeholder : options?.title"
  [required]="options?.required"
  [style.width]="'100%'"
  (blur)="options.showErrors = true">
  <ngx-mat-select-search
    placeholderLabel="Filtre"
    (ngModelChange)="searchChanged($event)"
    [ngModel]="search"
    [clearSearchInput]="false"
  ></ngx-mat-select-search>
  <mat-option
    [value]="null">
    <span [innerHTML]="''"></span>
  </mat-option>
  <ng-template ngFor let-selectItem [ngForOf]="selectList">
    <mat-option *ngIf="!isArray(selectItem?.items)"
      [value]="selectItem">
      <span [innerHTML]="selectItem[options.label_field_name]"></span>
    </mat-option>
    <mat-optgroup *ngIf="isArray(selectItem?.items)"
      [label]="selectItem?.group">
      <mat-option *ngFor="let subItem of selectItem.items"
        [value]="subItem">
        <span [innerHTML]="subItem[options.label_field_name]"></span>
      </mat-option>
    </mat-optgroup>
  </ng-template>
</mat-select>
<mat-select *ngIf="!boundControl"
  [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
  [attr.name]="controlName"
  [disabled]="controlDisabled || options?.readonly"
  [id]="'control' + layoutNode?._id"
  [multiple]="options?.multiple"
  [placeholder]="options?.notitle ? options?.placeholder : options?.title"
  [required]="options?.required"
  [style.width]="'100%'"
  [value]="controlValue"
  (blur)="options.showErrors = true"
  (change)="updateValue($event)">
  <mat-option
      [value]="null">
      <span [innerHTML]="'Choisissez une valeur'"></span>
    </mat-option>
  <ng-template ngFor let-selectItem [ngForOf]="selectList">
    <mat-option *ngIf="!isArray(selectItem?.items)"
      [attr.selected]="selectItem[options.value_field_name] === controlValue"
      [value]="selectItem[options.value_field_name]">
      <span [innerHTML]="selectItem[options.label_field_name]"></span>
    </mat-option>
    <mat-optgroup *ngIf="isArray(selectItem?.items)"
      [label]="selectItem?.group">
      <mat-option *ngFor="let subItem of selectItem.items"
        [attr.selected]="subItem[options.value_field_name] === controlValue"
        [value]="subItem[options.value_field_name]">
        <span [innerHTML]="subItem[options.label_field_name]"></span>
      </mat-option>
    </mat-optgroup>
  </ng-template>
</mat-select>
<span matSuffix *ngIf="options?.suffix || options?.fieldAddonRight"
  [innerHTML]="options?.suffix || options?.fieldAddonRight"></span>
<mat-hint *ngIf="options?.description && (!options?.showErrors || !options?.errorMessage)"
  align="end" [innerHTML]="options?.description"></mat-hint>
</mat-form-field>
<mat-error *ngIf="options?.showErrors && options?.errorMessage"
[innerHTML]="options?.errorMessage"></mat-error>