<!-- object-->
<ng-container *ngIf="computedLayout">
  <!-- <modules-layout-debug [debugData]="debugData"></modules-layout-debug> -->
  <!-- Cas formulaire et properties-->
  <!-- <div [attr.id]="_id" [ngStyle]="computedLayout.style" class="layout-section" *ngIf=" -->
  <!-- objectData && ['form', 'properties', 'export'].includes(computedLayout.display) -->
  <!-- "> -->

  <ng-container *ngIf="!computedLayout.display">
    <modules-layout
      [layout]="layout.items"
      [data]="objectData"
      [parentContext]="objectContext"
      (onAction)="processAction($event)"
    ></modules-layout>
  </ng-container>

  <!-- <modules-layout
  *ngIf="
    objectData &&
    ['form', 'properties', 'export'].includes(computedLayout.display)
  "
  [layout]="processedLayout"
  [data]="objectData"
    (onAction)="processAction($event)"
></modules-layout>
</div> -->

  <!-- Liste -->
  <modules-layout-object-table
    *ngIf="computedLayout.display == 'table'"
    [layout]="layout"
    [data]="data"
    [parentContext]="objectContext"
  >
  </modules-layout-object-table>

  <!-- Carte -->
  <modules-layout-object-geojson
    *ngIf="computedLayout.display == 'geojson'"
    [layout]="layout"
    [data]="data"
    [parentContext]="context"
  >
  </modules-layout-object-geojson>

  <!-- Filtres-->
  <modules-layout-object-filters
    *ngIf="computedLayout.display == 'filters'"
    [layout]="layout"
    [data]="data"
    [parentContext]="objectContext"
  >
  </modules-layout-object-filters>
</ng-container>
