<!-- object-->
<ng-container *ngIf="computedLayout">
<div
  *ngIf="debug && layout && computedLayout"
  class="debug"
  [ngStyle]="{ 'margin-left': debugMarginLeft }"
>
  <b>{{ layoutType }}</b> - {{ computedLayout.object_code }} -
  {{ computedLayout.display }} <br />
  <span [matTooltip]="prettyDebug.data">data</span>
  <span [matTooltip]="prettyDebug.layout">layout</span>
</div>

<!-- Cas formulaire et properties-->
<div [attr.id]="_id" [ngStyle]="computedLayout.style" class="layout-section" *ngIf="
schemaData && ['form', 'properties', 'export'].includes(computedLayout.display)
">
<modules-layout
  *ngIf="
    schemaData &&
    ['form', 'properties', 'export'].includes(computedLayout.display)
  "
  [layout]="processedLayout"
  [data]="schemaData"
  [debug]="debug"
  (onAction)="processAction($event)"
></modules-layout>
</div>

<!-- Liste -->
<modules-layout-object-table
  *ngIf="computedLayout.display == 'table'"
  [layout]="layout"
  [debug]="debug"
  [data]="data"
>
</modules-layout-object-table>

<!-- Carte -->
<modules-layout-object-geojson
  *ngIf="computedLayout.display == 'geojson'"
  [layout]="layout"
  [debug]="debug"
  [data]="data"
  [options]="options"
>
</modules-layout-object-geojson>

<!-- Filtres-->
<modules-layout-object-filters
  *ngIf="computedLayout.display == 'filters'"
  [layout]="layout"
  [debug]="debug"
  [data]="data"
>
</modules-layout-object-filters>
</ng-container>