<div
  *ngIf="componentInitialized; else loadingBlock"
  [attr.id]="elemId"
  class="element-container"
>

  <div class="flex-row-container">

    <!-- Carte avec saisie geoman -->
    <div
      class='map-row-container'
      *ngIf="schemaConfig.utils.geometry_field_name"
    >
        <modules-map
          [mapId]="mapId"
          [height]="height"
          [bEdit]="true"
          [drawOptions]=drawOptions
          [zoom]="zoom"
          [center]="center"
          [layersData]="layersData"
        ></modules-map>
    </div>

    <!-- Formulaire -->
      <div class="content-container" [ngStyle]="{'height': height}">

      <h4 *ngIf="displayTitle"> {{ componentTitle }} </h4>

      <div class="content">
        <json-schema-form
          [schema]="schemaConfig.form.schema"
          framework="material-design"
          [(data)]="data"
          (onSubmit)="onSubmit($event)"
          (onChanges)="onFormChanges($event)"
          [layout]="processedLayout"
          language=fr
          (isValid)="onIsValid($event)"
          (validationErrors)="onValidationErrors($event)"
        >
        </json-schema-form>
      </div>

      <div class="button-container">
        <button class="btn btn-success mr-2" (click)="onSubmitClick()"
      >
        Valider
      </button>

      <button class="btn btn-primary mr-2" (click)="onCancelClick()"
      >
        Annuler
      </button>


      </div>


    </div>

    <!-- Debug : valide, erreur et valeurs -->
    <div *ngIf='debug'>
      <div>Valide : {{isValid}}</div>
      <pre>{{validationErrors | json }}</pre>
      <pre>{{data | json}}</pre>
    </div>
  </div>

</div>


<ng-template #loadingBlock>
  <div>Chargement en cours</div>
</ng-template>
