<div
  *ngIf="componentInitialized; else loadingBlock"
  [attr.id]="elemId"
  class="element-container"
>
  <div class="flex-row-container">
    <!-- Carte avec saisie geoman -->
    <div
      class="map-row-container"
      *ngIf="schemaConfig.utils.geometry_field_name"
    >
      <modules-map
        [mapId]="mapId"
        [height]="height"
        [bEdit]="true"
        [height]="height"
        [drawOptions]="drawOptions"
        [zoom]="zoom"
        [center]="center"
        [layersData]="layersData"
      ></modules-map>
    </div>

    <!-- Formulaire -->
    <div class="content-container">
      <div class="content">
        <div>
          <modules-layout
            [layout]="processedLayout"
            [data]="data"
            [debug]="debug"
            (onAction)="onAction($event)"
          >
          </modules-layout>
        </div>
      </div>

      <!-- <div class="button-container">
        <button
          class="btn btn-success mr-2"
          (click)="onAction('submit', $event)"
          [disabled]="!isValid"
        >
          Valider
        </button>

        <button class="btn btn-primary mr-2" (click)="onCancelClick()">
          Annuler
        </button>
      </div> -->
    </div>

    <!-- Debug : valide, erreur et valeurs -->
    <!-- <div *ngIf="debug">
      <pre>{{ validationErrors | json }}</pre>
      <pre>{{ data | json }}</pre>
    </div> -->
  </div>
</div>

<ng-template #loadingBlock>
  <div>Chargement en cours</div>
</ng-template>
