

<div *ngIf='componentInitialized; else loadingBlock'>

  <h4>Propriétés {{schemaConfig.display.prep_label}} {{id()}}</h4>

  <div style="display: flex; flex-direction: row;">

    <div style="width: 50%;">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Key Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef> Label </th>
            <td mat-cell *matCellDef="let element"> {{element.label}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Valeur </th>
            <td mat-cell *matCellDef="let element"> {{element.value |json}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div div style="width: 50%;">
      <modules-map
        [mapId]="mapId"
        [height]="heightMap"
        [zoom]="zoom"
        [center]="center"
        [layersData]="layersData"
      ></modules-map>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
    <div>
        Chargement en cours
    </div>
  </ng-template>