
<div *ngIf="componentInitialized; else loadingBlock">

  <div *ngIf="debug" class="debug"> {{ _name }} value {{ value }} filters {{ filters | json }}</div>

  <h4 *ngIf="displayTitle">{{ tableTitle }}</h4>

  <div class='flex-map-container'>


    <!-- Filters-->

    <!-- <div class="filters">
      <modules-base-filters
        [schemaName]="schemaName"
        [(filters)]="filters"
        ></modules-base-filters>
    </div> -->


    <!-- Map-->

    <div class="map">
      <modules-map
        [mapId]="mapId"
        [height]="height"
        [zoom]="zoom"
        [center]="center"
        [layersData]=layersData
      ></modules-map>
    </div>

  </div>

</div>

<ng-template #loadingBlock>
    <div>Chargement en cours</div>
</ng-template>