

<div *ngIf='componentInitialized; else loadingBlock'>

  <div style="display: flex; flex-direction: row;">

      <div style="width: 50%;" *ngIf="hasGeometry()">
        <modules-map
          [mapId]="mapId"
          [height]="height"
          [zoom]="zoom"
          [center]="center"
          [layersData]="layersData"
        ></modules-map>
      </div>


      <div style="min-width: 50%;">
        <h4 *ngIf="displayTitle">{{componentTitle}}</h4>

        <div class="properties">
          <modules-base-layout
            [layout]="layout"
            [layoutData]="layoutData"
            [debug]="debug"
          ></modules-base-layout>
        </div>
      </div>

    </div>


</div>

<ng-template #loadingBlock>
    <div>
        Chargement en cours
    </div>
  </ng-template>