
<!--
    base layout : pour la disposition des élément
        - de propriété
        - de page ??
 -->


 <!-- Debug -->

 <div *ngIf="debug" class="debug">
    {{_name}} {{layoutType}} {{layout.type}} {{layout | json}} <br>
    {{data | json}}
</div>


<!-- Switch sur layoutType-->

<ng-container [ngSwitch]="layoutType">

    <!-- items -->

    <ng-container *ngSwitchCase="'items'">

        <div [ngClass]="{'layout-row': direction == 'row', 'layout-items': true }">
            <div *ngFor="let item of layout">
                <modules-base-layout
                    [layout]="item"
                    [layoutData]="layoutData"
                    [debug]=debug
                ></modules-base-layout>
            </div>
        </div>

    </ng-container>


    <!-- Array -->
    <ng-container *ngSwitchCase="'array'">
        <ng-container *ngIf="'data'">

            <h4 *ngIf="layout.title"> {{ layut.title }} </h4>
            <div *ngFor="let elem of arrayData">
                <modules-base-layout
                [layout]="arrayLayout"
                [layoutData]="elem"
                [debug]=debug
                ></modules-base-layout>
            </div>

        </ng-container>
    </ng-container>


    <!-- Object -->

    <ng-container *ngSwitchCase="'obj'">

        <!-- obj - fieldset -->

        <ng-container *ngIf="layout.type == 'fieldset'">

            <fieldset class="fieldset">

                <legend *ngIf="layout.title" > {{ layout.title }} </legend>

                <modules-base-layout
                    [layout]="layout.items"
                    [direction]="layout.direction"
                    [layoutData]="layoutData"
                    [debug]=debug
                ></modules-base-layout>

            </fieldset>

        </ng-container>


        <!-- obj - default -->
        <ng-container *ngIf="[null, undefined].includes(layout.type)">

            <h4 *ngIf="layout.title"> {{ layout.title }} </h4>

            <modules-base-layout
                [layout]="layout.items"
                [direction]="layout.direction"
                [layoutData]="layoutData"
                [debug]=debug
            ></modules-base-layout>

        </ng-container>
    </ng-container>


    <!-- Element -->

    <ng-container *ngSwitchCase="'key'">
        <div class="layout-key">
            <div class="layout-key-title">{{data.title}}</div>
            <div class="layout-key-value">{{ data.value || 'Non renseigné'}}</div>
        </div>

    </ng-container>


    <!-- Null (erreur) TODO -->

    <ng-container *ngSwitchCase="null">
        layout null
    </ng-container>

</ng-container>












