<!-- <div *ngIf="debug" class="debug"> {{ _name }} value {{ value }} filters {{ filters | json }}</div> -->

<div
  *ngIf="componentInitialized; else loadingBlock"
  [attr.id]="elemId"
>
  <div>
    <!-- Formulaire -->
    <div v-if="filterValues">
      <modules-layout
        [layout]="processedLayout"
        [data]="filterValues"
        [debug]="debug"
        (onAction)="onAction($event)"
      ></modules-layout>

    </div>

    <!-- Debug : valide, erreur et valeurs -->

    <div *ngIf="debuga">
      <div class="form-container">
        <div>
          <h4>Valeur</h4>
          <div>Valide : {{ isValid }}</div>
          <pre>{{ validationErrors | json }}</pre>
          <pre>{{ filterValues | json }}</pre>
        </div>

        <div>
          <h4>schema</h4>
          <pre>
                    {{ schemaConfig.filters.form.schema | json }}
                </pre
          >
        </div>
        <div>
          <h4>processedLayout</h4>
          <pre>
                {{ processedLayout | json }}
            </pre
          >
        </div>
        <div>
          <h4>layout</h4>
          <pre>
                    {{ schemaConfig.filters.form.layout | json }}
                </pre
          >
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <div>Chargement en cours</div>
</ng-template>
