<div *ngIf="debug" class="debug"> {{ _name }} value {{ value }} filters {{ filters | json }}</div>

<div
  *ngIf="componentInitialized"
  [attr.id]="elemId"
  class="element-container"
>

<div class="map-list-container">
    <div class="map-list-filter">
        <modules-base-filters
            [debug]="debug"
            [height]="height"
            [moduleName]="moduleName"
            [schemaName]="schemaName"
            (onEvent)="processEvent($event)"
        ></modules-base-filters>
    </div>

    <div class="map-list-map">

        <modules-base-map
            [compress]="false"
            [debug]="debug"
            [filters]="filters"
            [mapId]="mapId"
            [moduleName]="moduleName"
            [schemaName]="schemaName"
            [value]="value"
            (onEvent)="processEvent($event)"
        ></modules-base-map>
    </div>

    <div class="map-list-list">
        <div class="action-list">
            <button (click)="emitEvent({action: 'create'})" mat-mini-fab color="primary">
                <mat-icon matTooltip="Ajouter {{schemaConfig.display.undef_label_new}}">add</mat-icon>
            </button>
            <button
                (click)="emitEvent({action: 'export', module_code: 'm_sipaf', export_code: 'passages_faune'})"
                mat-mini-fab color="primary"
            >
                <mat-icon matTooltip="Exporter {{schemaConfig.display.def_labels}}">save</mat-icon>
            </button>

        </div>
        <modules-base-table
            [displayFilters]="false"
            [debug]="debug"
            [filters]="filters"
            [moduleName]="moduleName"
            [short]="true"
            [size]="13"
            [schemaName]="schemaName"
            [value]="value"
            (onEvent)="processEvent($event)"
        ></modules-base-table>
    </div>


</div>

</div>
