<ng-container *ngFor="let media of data[computedLayout.key] || []; index as i">
  <div class="medias-tab">
    <div [matTooltip]="ms.toString(media)">
      <a [href]="ms.href(media)" target="_blank">{{ media.title_fr }}</a>
      <i>
        ({{ ms.typeMedia(media)
        }}<span *ngIf="media.author"> par {{ media.author }}</span
        >)
      </i>
    </div>
    <p *ngIf="media.description_fr">{{ media.description_fr }}</p>
    <div>
      <pnx-display-medias
        [medias]="data[computedLayout.key]"
        [index]="i"
        display="medium"
        diaporama="true"
      >
      </pnx-display-medias>
    </div>
  </div>
</ng-container>
