.map {
    padding: 5px;
    border: 1px solid darkgray;
    margin: 5px;
    // padding: 5px;
    border-radius: 5px;
}

.map-container {
    margin: 5px;
}

.processing {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 10000;
}

.processing > div {
    width: 100px;
    height: 100px;
}